section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    top: 0;
    animation: sectionanim 4s  linear 0s 1 alternate forwards;
}

@keyframes sectionanim{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

section .left_section{
    flex: .5;
    padding: 10px;
    /* border: 2px solid red; */
}

section .left_section .left_data{
    position: relative;
    left: 20px;
    width: 310px;
    height:70vh;
    margin:35px auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

section .left_section .add{
    margin-top: 80px;
}


section .left_section .add p{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 10px 10px 0;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
    transform: scale(0);
    opacity: 0;
    animation: small 1.5s  linear 3.5s 1 alternate forwards;
}

/* p animation */
@keyframes small{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

section .left_section .add span{
    background-color: #ff9f43;
    border-radius: 50%;
    padding: 10px 12px;
    width: 100px;
}

section .left_section .left_data h1{
    width: 100%;
    margin-top: 20px;
    font-size: 35px;
    letter-spacing: 1px;
    color: #130f40;
    transform: scale(0);
    opacity: 0;
    animation: bigtext 2s  linear 4.5s 1 alternate forwards;
}

/* h1 animation */
@keyframes bigtext{
    0%{
        transform: translateY(-80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}


section .left_section .left_data button{
    margin-top: 30px;
    background-color: #ff9f43;
    border: none;
    outline: none;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    letter-spacing: .8px;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    transform: scale(0);
    animation: bigtext 2s  linear 4.5s 1 alternate forwards;
}

/* template style */
.template{
    position: absolute;
    left: 25%;
    top: 58%;
    width: 400px;
    /* border: 2px solid red; */
    transform: scale(0);
    opacity: 0;
    display: flex;
    animation: routeanim 3s  linear 7s 1 alternate forwards;
}

/* navanimation */
@keyframes routeanim{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }50%{
        transform: translateY(0px);
        opacity: 1;
    }
    70%{
        transform: translateY(-20px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.template .left_part{
    flex: .5;
    background-color: #f8eedd;
    padding: 10px;
}

.template .left_part p{
    font-size: 14px;
}

.template .left_part .price{
    margin-top: 12px;
    color: #ff9f43;
}


.template .left_part .Ios{
    margin-top: 3px;
}

.template .right_part{
    flex: .5;
    background-color: #91cdf86c;
}

.template .right_part img{
    width: 100%;
}



section .right_section{
    flex: .5;
    padding: 10px;
    background-color: #f8eedd;
}

section .right_section .right_svg{
    padding: 10px;
    margin-top: 80px;
    margin-left: 30px;
    animation: svganim 4s  linear 0s infinite alternate forwards;
}

/* delay krega 4s ka */

/* animation svg */
@keyframes svganim{
    0%{
        transform: translateY(0px);
    }50%{
        transform: translateY(30px);
    }
}

section .right_section .right_svg img{
    width:420px;
}

section .right_section h1{
    margin-top: 50px;
}



/* media query */


@media (max-width:954px){
    
    section .left_section .left_data{
        margin-top: 50px;
    }
    section .right_section{
        padding: 0;
    }
    section .right_section .right_svg {
        padding: 0;
    }
    section .right_section .right_svg img{
        width: 350px;
    } 
    
    .template{
        display: none;
    }
}

/* @media (max-width:812px){
    section .right_section .right_svg img{
        width: 350px;
    } 
} */

@media (max-width:700px){
    section .left_section .left_data{
        left: 3px;
    }
    section .left_section .left_data{
        margin-left: 3px;
    }
    section .right_section .right_svg img{
        width: 285px;
        margin-top: 50px;
    } 
    section .left_section .add p{
        width: 79%;
    }
    section .left_section .left_data h1{
        font-size: 28px;
    }
}


@media (max-width:682px){
    section{
        flex-direction: column;
        min-height:100vh;
    }

    section .left_section{
        order: 2;
        flex: 1;
    }
    section .left_section .left_data{
        width: 100%;
        align-items: center;
        margin-left:-3px;
        margin-bottom: -130px;
    }
    section .left_section .add{
        margin-top:7px;
     
    }
    section .left_section .add  p{
        width: 100%;
    }

    section .right_section .right_svg{
        text-align: center;
    }

    /* section .right_section .right_svg img{
        
    } */

    section .right_section{
        flex: 1;
        min-height: 60vh;
    }
}